@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* border: 1px solid white; */
}
:root{
    --white:#fff;
    --black:#000000;
}
body{
    height: 100%;
    width: 100vw;
    background: radial-gradient(
    ellipse at center , #192d38 0%, #211f2f 100%) repeat center scroll;
}
.top-right{
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    border:5vh solid transparent;
    border-top: 5vh solid #64ceaa;
    border-right:5vh solid #64CEAA;
    z-index: 3;
}
.left-bottom{
    width: 0;
    height: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    border:5vh solid transparent;
    border-bottom: 5vh solid #64ceaa;
    border-left:5vh solid #64CEAA;
    z-index: 3;
}
main{
    width: 100vw;
    display:flex;
    flex-direction: column;
    margin-top: 10vh;
}
.heading{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
    color:white;
}
.icon{
    margin:5px;
    margin-bottom: -10px;
}
.cont{
    height: 100vmin;
    width: 100vmin;
    display: flex;
    margin: 15vmax auto;
}
.row-and-grid{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.row{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 1vh;
}
.row-unit{
    width: 90%;
    aspect-ratio: 2;
    background-color: #211F2F;
    margin: .5vh;
    border:1px solid #646464;
    color: white;
    text-align: center;
}
.column{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.column-unit{
    aspect-ratio: 2;
    margin: .5vh 1%;
    background-color: #211F2F;
    border: 1px solid #666666;
    color: white;
}
.grid{
    border: 1px solid #64CEAA;
    height: 90%;
    width: 100%;
    background-color: hsl(244, 25%, 11%);
    margin: 1vh;
    display: grid;
}
.units{
    height: 100%;
    width: 100%;
    border:1px dotted #666666;
    background: url("pattern.png") repeat center scroll;
    background-size: 1024px 1024px ;
    transform: rotate(0deg);
}
input{
    height: 10vmin;
    aspect-ratio: 2;
    background-color: #211F2F;
    border: 1px solid #666666;
    text-align: center;
}
input:focus{
    background-color: hsl(248, 21%, 10%);
    border: 1px solid white;
    outline: none;
}
input,
label,
button {
    font-family: "Mukta Mahee", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.5rem;
}
.inputs{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.input-units{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
label{
    font-size: 1.5rem;
    font-family: roboto ,Helvetica,Arial,sans-serif;
}
.grey{
    color: #666666;
    font-size: 1.2rem;
}
.buttons{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
}
button{
    width: max-content;
    padding: 10px 20px;
    border: 1px solid #64CEAA;
    background-color: #211F2F;
    font-size: 1.75rem;
    border-radius: 100vmax;
    margin: 2.5vh auto;
    color: #64CEAA;
    font-weight: 500;
}
.get-code, .copy, .close{
    width: max-content;
    padding: 10px 20px;
    background-color: #64CEAA;
    color: #211F2F ;
    transition: all 0.4s;
    transform-origin: center;
    font-weight: 500;
    display: flex;
    transform: scale(1);
}
.get-code:hover, .copy:hover, .close:hover{
    width: max-content;
    background-color: #211F2F;
    color: #64CEAA ;
    font-weight: 400;
    transform: scale(1.2);
}
.modal{
    height: 80vmin;
    aspect-ratio: 1.25;
    display: none;
    flex-direction: column;
    position: fixed;
    background: radial-gradient(
    ellipse at center , #192d38 0%, #211f2f 100%) repeat center scroll;
    top: 0;
    left: 0;
    transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%));
    box-shadow: 0px 0px 100px 100vmax rgba(16, 16, 16,0.9) ;
    border-radius: 5vmin;
    user-select: all;

}
.btns{
    height: 15%;
    width: 90%;
    margin: auto auto 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.code-wrapper{
    height: 65%;
    width: 90%;
    margin: 0 auto auto auto; 
    background: radial-gradient(
    ellipse at center , transparent 0%, transparent 100%) repeat center fixed;
    font-size: 4vh;
    padding: 5vmin;
    user-select: all ;
    font-family: 'Inconsolata', "roboto";
}
.fade-in{
    display: flex;
    animation: fade-in 0.7s 1 ease-in;
}
.fade-out{
    animation: fade-out 0.5s 1 ease-in;
}
@keyframes fade-in {
    0%{
        z-index: 2;
        display: none;
        opacity: 0;
    }
    100%{
        opacity: 1;
        display: flex;
    }
}

@keyframes fade-out {
    0%{
        display: flex;
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.green{
    color:#64CEAA;
}
.white{
    color:white;
}
.skin{
    color: #f8a384;
}
/*------------------- Desktop Screen -------------------*/
@media (min-device-width:1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .dir-row{
        display: flex;
    }

    .heading{
        margin: 5vmin auto ;
    }
    .cont{
        margin: 5vmin;
    }
    .inputs{
        height: max-content;
        width:  30% ;
        margin: 25vmin 0 0 10vmin ;
    }
    .buttons{
        width: 100%;
        margin: auto; 
    }
}

/*------------------- Tablet Screen --------------------*/

@media (max-device-width:768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .dir-row{
        display: flex;
        flex-direction: column;
    }

    .heading{
        margin: 5vmin auto ;
    }
    .cont{
        margin: 5vmin;
    }
    .inputs{
        height: max-content;
        width:  80% ;
        margin: 25vmin 0 0 10vmin ;
    }
    .buttons{
        width: 100%;
        margin: auto; 
    }
}
/* 
//--------------------Mobile Screen --------------------
@media (max-device-width:425px) {
    *{
        font-size: 80%;
    }
}
@media (max-device-width:320px) {
    *{
        font-size: 70%;
    }
} */